@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 2000px;
  --color-foreground: #030014;
  --color-background: #ffffff;
  --shadow-custom: 0 4px 20px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.1);
  --font-base: "DM Sans", sans-serif;
}

@layer base {
  .dark {
     --color-foreground: #ffffff;
     --color-background: #000000;
  }
}

@layer base {
  * {
    transition: background-color 0.3s ease;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-base overflow-hidden;
  }
}

@layer components {
  .layout {
    @apply flex flex-col justify-center items-center w-full h-screen m-auto gap-4;

    & .main {
      @apply flex justify-center items-center w-full h-11/12;
    }

    & .footer {
      @apply flex justify-center items-center p-4;
    }
  }

  .nav {
    @apply flex justify-between items-center p-4 w-full h-20 shadow-custom;

    & .nav-link {
      @apply flex justify-center items-center gap-3;

      & .nav-link-item {
        @apply flex justify-center items-center gap-2 py-2 px-4 rounded-md;
        @apply bg-gradient-to-r from-purple-200 to-blue-500 hover:opacity-75;
      }
    }

    & .nav-items {
      @apply flex justify-center items-center gap-3;

      & .logout-button {
        @apply flex items-center gap-2 p-2 cursor-pointer;
      }
    }

  }

  .main-page {
    @apply flex justify-center items-center w-full h-full p-4;
  }

  .main-body {
    @apply flex flex-col justify-center items-center gap-2 w-full h-full p-4 rounded-lg shadow-custom;

    & .body-content {
      @apply flex flex-col justify-center items-center w-full h-11/12 rounded-md;

      & .body-items {
        @apply flex justify-center items-start gap-2 w-full h-[350px] p-1 rounded-md;
      }

      & .pagination {
        @apply flex justify-center items-center gap-4 w-full p-2;

        & .pagination-button {
          @apply px-4 py-2 bg-gray-300 rounded disabled:opacity-50;
        }
      }
    }
  }

  .body-nav {
    @apply flex justify-between items-center w-full p-2 h-16 rounded-md;

    & .body-nav-link {
      @apply flex justify-center items-center gap-2;

      & .link-item {
        @apply flex justify-center items-center gap-2 py-2 px-4 rounded-md;
        @apply bg-gradient-to-r from-purple-200 to-blue-500 hover:opacity-75;
      }
    }
  }

  .loading-spinner {
    @apply flex justify-center items-center w-full h-full;
  }

  .table-container {
    @apply flex w-full max-w-[1000px] p-3 h-auto overflow-x-auto;

    & .table-main {
      @apply min-w-full border border-slate-400 rounded-lg;

      & .table-head {
        @apply bg-slate-600 h-10;

        & .head-cell {
          @apply p-2 text-left text-xs font-medium text-gray-300 uppercase w-2/12
        }

        & .head-cell-medium {
          @apply p-2 text-left text-xs font-medium text-gray-300 uppercase w-3/12
        }

        & .head-cell-wide {
          @apply p-2 text-left text-xs font-medium text-gray-300 uppercase w-5/12
        }
      }

      & .table-body {
        @apply h-auto;

        & .body-row {
          @apply hover:bg-slate-300 transition-colors h-12;

          & .body-cell {
            @apply p-2 text-sm text-gray-900 w-2/12;
          }

          & .body-cell-medium {
            @apply p-2 text-sm text-gray-900 w-3/12;
          }

          & .body-cell-wide {
            @apply p-2 text-sm text-gray-900 w-5/12;
          }
        }

      }
    }
  }

  .cart-summary {
    @apply flex justify-between w-full p-6 mx-10;

    & .summary-left {
      @apply flex justify-center items-center gap-6 w-2/3;

      & .left-item {
        @apply flex justify-center items-center gap-4;
      }
    }

    & .summary-right {
      @apply flex justify-center items-center gap-5 w-1/3;
    }
  }

  .form-details {
    @apply flex flex-col gap-3 justify-center items-center w-full h-11/12 md:w-[550px] p-2 md:p-6 rounded-2xl;

    & .form-header {
      @apply flex justify-center items-center gap-2 w-full max-w-[500px] text-slate-950 py-3 rounded-t-xl;
      @apply bg-gradient-to-r from-purple-200 to-blue-300;
    }

    & .form-container {
      @apply flex justify-center items-center w-full;
    }

    & .form {
      @apply flex flex-col gap-2 md:gap-4 w-full md:w-[500px] p-1;
    }

    & .form-item {
      @apply flex flex-col w-full md:flex-row items-center my-2;
    }

    & .form-item-label {
      @apply flex w-full md:w-1/5;
    }

    & .form-item-input {
      @apply flex relative w-full md:w-4/5;
    }

    & .form-input {
      @apply border-2 border-slate-600/50 bg-transparent rounded-md w-full py-3 max-w-md;
    }

    & .form-select {
      @apply border-2 border-slate-600/50 bg-transparent rounded-md w-full py-3 ps-2 max-w-md;
    }

    & .form-button-container {
      @apply flex w-full my-2;
    }

    & .form-button-item {
      @apply w-auto;
    }

    & .form-button {
      @apply flex w-full text-slate-800 hover:text-slate-600 rounded-md py-2 px-4 items-center justify-center gap-1 cursor-pointer;
      @apply bg-gradient-to-r from-purple-200 to-blue-300;
    }
  }
  .button-link {
    @apply flex w-auto text-slate-800 hover:text-slate-600 rounded-md py-2 px-4 items-center justify-center gap-1 cursor-pointer;
    @apply bg-gradient-to-r from-purple-200 to-blue-500;
  }

  .button-success {
    @apply flex w-auto text-slate-800 hover:text-slate-600 rounded-md py-2 px-4 items-center justify-center gap-1 cursor-pointer;
    @apply bg-gradient-to-r from-purple-200 to-green-500;
  }

  .button-danger {
    @apply flex w-auto text-slate-800 hover:text-slate-600 rounded-md py-2 px-4 items-center justify-center gap-1 cursor-pointer;
    @apply bg-gradient-to-r from-purple-200 to-red-400;
  }
}

